@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #ff3d00;
}
.ok::-webkit-scrollbar {
  display: none !important;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.barCompleted {
  background-color: cyan;
  display: flex;
  justify-content: end;
  padding-right: 2%;
}
.labelProgress {
  font-size: small;
  color: #fff;
}
/* .containerProgress {
  height: 15px;
} */

.feedInfinite {
  height: 100vh;
  overflow-y: auto;
}

.feedInfinite::-webkit-scrollbar,
.msgCardScroll::-webkit-scrollbar {
  display: none;
}

.feedInfinite,
.msgCardScroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.msgCardScroll {
  height: 63.5vh;
  overflow-y: auto;
}
